---
// Tailwind styling for overskrifter / labels / grafik tekst
const sizeClasses = {
  h1: "text-[26px] md:text-[34px] lg:text-[38px] font-abril",
  h2: "text-[20px] md:text-[23px] lg:text-[26px] font-space",
  h3: "text-[17px] md:text-[19px] lg:text-[21px] font-space",
  labelLarge: "text-[15px] md:text-[17px] lg:text-[19px] font-abril",
  graphic: "text-[13px] md:text-[14px] lg:text-[15px] font-special",
};

interface Props {
  type?: keyof typeof sizeClasses;
  stylingclasses?: string;
}

const { type = "h1", stylingclasses = "" } = Astro.props as Props;
---

{type === "h1" && (
  <h1 class={`${sizeClasses[type]} ${stylingclasses}`}>
    <slot />
  </h1>
)}

{type === "h2" && (
  <h2 class={`${sizeClasses[type]} ${stylingclasses}`}>
    <slot />
  </h2>
)}

{type === "h3" && (
  <h3 class={`${sizeClasses[type]} ${stylingclasses}`}>
    <slot />
  </h3>
)}

{type === "labelLarge" && (
  <p class={`${sizeClasses[type]} ${stylingclasses}`}>
    <slot />
  </p>
)}

{type === "graphic" && (
  <span class={`${sizeClasses[type]} ${stylingclasses}`}>
    <slot />
  </span>
)}